div.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: minmax(6em, auto);
    column-gap: 1em;
    row-gap: 1em;
}

div.grid > :is(a, div) {
    border: 1px solid #007acc;
    border-radius: 1em;
    padding: 1em;
    background-color: #252526;
    box-shadow: 0 0.5em 1em #000;
}

div.grid > a:hover {
    background-color: #2d2d30;
}

div.grid div h1 {
    color: #007acc;
    font-size: 1.5em;
    margin-top: 0;
}

div.grid div pre {
    text-align: left;
    padding: 0.5em;
    background-color: #1e1e1e;
}

.hljs-attr {
    color: rgb(156, 220, 254);
}

.hljs-string {
    color: rgb(206, 145, 106);
}

.hljs-number {
    color: rgb(181, 206, 137);
}

.hljs-literal {
    color: rgb(86, 156, 214);
}

div.grid .presentation {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

div.grid .experiences {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}

div.grid .formations {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
}

div.grid .competences {
    grid-row: 4 / 5;
    grid-column: 1 / 3;
}

div.grid .projects {
    grid-row: 5 / 6;
    grid-column: 1 / 3;
}

div.grid .loisirs {
    grid-row: 6 / 7;
    grid-column: 1 / 3;
}

div.flexy {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    overflow: hidden auto;
}

div.xp-card {
    border: 1px solid #3e3e42;
    border-radius: 1em;
    padding: 1em;
    background-color: #252526;
    margin: auto 0.25em;
    display: grid;
    grid-template-areas: "t t"
                         "c c"
                         "d d"
                         "s e"
                         "l l";
    gap: 0.125em;
}

div.xp-card-element.title {
    grid-area: t;
    font-weight: bold;
}

div.xp-card-element.company {
    grid-area: c;
}

div.xp-card-element.start-date {
    grid-area: s;
}

div.xp-card-element.end-date {
    grid-area: e;
}

div.xp-card-element.date {
    grid-area: d;
}

div.xp-card-element.location {
    grid-area: l;
}

div.xp-card-element.start-date,
div.xp-card-element.end-date,
div.xp-card-element.date,
div.xp-card-element.location {
    font-size: small;
}

.print-button {
    display: revert;
}

@media (min-width: 64em) {
    div.grid .presentation {
        grid-row: 1 / 5;
        grid-column: 1 / 2;
    }

    div.grid .competences {
        grid-row: 5 / 7;
        grid-column: 1 / 2;
    }
    
    div.grid .experiences {
        grid-row: 1 / 3;
        grid-column: 2 / 3;
    }
    
    div.grid .formations {
        grid-row: 3 / 5;
        grid-column: 2 / 3;
    }
    
    div.grid .loisirs {
        grid-row: 5 / 6;
        grid-column: 2 / 3;
    }

    div.grid .projects {
        grid-row: 6 / 7;
        grid-column: 2 / 3;
    }

    div.flexy {
        flex-direction: row;
    }
}

@media print {
    div.grid .presentation {
        grid-row: 1 / 4;
        grid-column: 1 / 2;
    }

    div.grid .competences {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
    }

    div.grid .experiences {
        grid-row: 1 / 3;
        grid-column: 2 / 3;
    }

    div.grid .formations {
        grid-row: 3 / 5;
        grid-column: 2 / 3;
    }

    div.grid .projects {
        grid-row: 5 / 6;
        grid-column: 2 / 3;
    }

    div.grid .loisirs {
        grid-row: 5 / 6;
        grid-column: 1 / 2;
    }

    div.grid > :is(a, div), div.grid div pre {
        background: white;
        color: black;
        border: 1px solid black;
        border-radius: 0.5em;
        padding: 1em;
        box-shadow: none;
    }

    div.grid div pre {
        border: none;
        border-radius: 0;
    }

    .hljs-attr {
        color: rgb(4, 81, 165);
    }

    .hljs-string {
        color: rgb(184, 21, 21);
    }

    .hljs-number {
        color: rgb(9, 134, 88);
    }

    .hljs-literal {
        color: rgb(0, 0, 255);
    }

    div.grid div h1 {
        color: black;
        margin-top: 0;
        margin-bottom: 0.25cm;
    }

    div.grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        column-gap: 0.5em;
        row-gap: 0.5em;
    }

    div.xp-card:nth-child(n+4) {
        display: none;
    }

    ul {
        text-align: left;
    }

    div.xp-card {
        border: 1px solid black;
        border-radius: 0.5em;
        padding: 1em;
        background-color: white;
        margin: 0.05cm auto;
    }
}