a.project {
    border: 1px solid #007acc;
    border-radius: 1em;
    padding: 1em;
    background-color: #252526;
    box-shadow: 0 0.5em 1em #000;
}

div.project{
    display: grid;
    grid-template-areas:"t t"
                        "l e"
                        "y s"
                        "d d";
    column-gap: 0.5em;
    row-gap: 0.5em;
}

a.project:hover {
    background-color: #2d2d30;
}

div.project .title {
    grid-area: t;
    color: #007acc;
    font-size: 1.4em;
}

div.project .language {
    grid-area: l;
}

div.project :is(.language, .team) img {
    height: 2em;
}

div.project .team {
    grid-area: e;
}

div.project .description {
    grid-area: d;
    text-align: left;
}

div.project .year {
    grid-area: y;
}

div.project .semester {
    grid-area: s;
}

div.project-list {
    display: grid;
    column-gap: 2em;
    row-gap: 2em;
    grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 64em) {
    div.project-list {
        grid-template-columns: repeat(2, 1fr);
    }
}