header, main, footer {
    text-align: center;
    margin: auto;
    max-width: 95%;
}

header {
    margin-top: 0;
    margin-bottom: 1em;
    padding: 0.5em 0.5em 0.5em 3em;
    border-radius: 0 0 1em 1em;
    background-color: #3e3e42;
    width: 100%;
    height: 4em;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

header div#name {
    color: #007acc;
    font-size: 2em;
    height: 1em;
    font-weight: bold;
    text-shadow: #1e1e1e 1px 1px;
    font-family: Candara, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header div#pagename {
    margin-left: 0.3em;
    color: #007acc;
    font-size: 1.5em;
    height: 1em;
    font-weight: bold;
    text-shadow: #1e1e1e 1px 1px;
    font-family: Candara, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #1e1e1e;
    color: white;
    font-size: 1em;
}

a.undercover {
    text-decoration: none;
    color: inherit;
}

a.undercover:visited {
    text-decoration: none;
    color: inherit;
}

a.undercover:hover {
    text-decoration: none;
}

span {/*
    color:
    #007acc
    #3e3e42
    #2d2d30
    #252526
    #1e1e1e;
    */
}

main {
    margin-bottom: 2em;
    padding-bottom: 1em;
}

.print-only {
    display: none;
}

.print-button {
    display: none;
    margin-right: 1em;
    margin-left: auto;
}

a, a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: revert;
}

@media (min-width: 64em) {
    header, main, footer {
        max-width: 80%;
    }
}

@media print {
    @page {
        orientation: portrait;
        margin: 1.5cm;
        size: A4;
    }

    .print-only {
        display: revert;
    }

    .no-print {
        display: none;
    }

    .print-links a:after {
        content: " (" attr(href) ")";
    }

    a, a:visited {
        color: black;
        text-decoration: none;
    }

    body {
        font-size: small;
    }

    body, header {
        background: white;
        color: black;
    }

    header div#name {
        margin: auto;
        color: black;
        font-size: 2em;
        height: 1em;
        font-weight: bold;
        text-shadow: none;
    }

    header, footer {
        max-height: 1cm;
        margin-top: 0;
    }

    footer {
        margin-bottom: 0;
    }

    header, main, footer {
    text-align: center;
    margin: auto;
    max-width: 100%;
}
}