{% extends "layout.jinja2" %}
{% block title %}Accueil{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% block pagename %} - Accueil{% endblock %}
{% block main %}
<div class="grid">
    <div class="presentation">
        <h1>Présentation</h1>
<pre><code class="lang-json">{
    <span class="hljs-attr">"name"</span>: <span class="hljs-string">"BERGÈS"</span>,
    <span class="hljs-attr">"firstname"</span>: <span class="hljs-string">"Dimitri"</span>,
    <span class="hljs-attr">"birthdate"</span>: <span class="hljs-string">"2000-05-22"</span>,
    <span class="hljs-attr">"age"</span>: <span class="hljs-number">21</span>,
    <span class="hljs-attr">"drivers-licence"</span>: <span class="hljs-literal">true</span>,
    <span class="hljs-attr">"criminal-record"</span>: <span class="hljs-literal">null</span>
}
</code></pre>
        <p>
            <div>Étudiant en DUT Informatique</div>
            <div>Permis B et véhiculé</div>
            <div>Email : <a href="mailto:dimitri.berges@lomis.fr">dimitri.berges@lomis.fr</a></div>
            <div></div>
        </p>
        <div class="print-only">
            <ul>Coordonnées :
                <li>Date de naissance : 22 mai 2000</li>
                <li>Tél : 06.58.92.93.71</li>
                <li>
                    <div>Adresse :</div>
                    <div>2 square du général Guillaumat</div>
                    <div>60200 Compiègne</div>
                </li>
            </ul>
        </div>
        <ul class="print-links">Liens utiles :
            <li><a href="https://www.linkedin.com/in/dimitri-berges/" target="_blank">LinkedIn</a></li>
            <li><a href="https://lomis.fr">CV dynamique en ligne</a></li>
            <li><a href="https://lomis.fr/projects">Portfolio de projets</a></li>
        </ul>
    </div>
    <a href="/projects/univ" class="undercover projects"><div class="projects">
        <h1>Projets d'études</h1>
        Pendant mes études j'ai eu l'occasion de participer à de nombreux projets scolaires, vous pouvez accéder à une liste non exhaustive
        <span class="no-print">en cliquant sur ce rectangle.</span>
        <span class="print-only">en vous rendant sur le site https://lomis.fr</span>
    </div></a>
    <div class="experiences">
        <h1>Mes expériences</h1>
        <div class="flexy">
            <div class="xp-card">
                <div class="xp-card-element title">Technicien</div>
                <div class="xp-card-element company-logo"></div>
                <div class="xp-card-element company">Desmarez SAS</div>
                <div class="xp-card-element start-date">oct. 2021</div>
                <div class="xp-card-element end-date">déc. 2021</div>
                <div class="xp-card-element location">Compiègne, Oise</div>
            </div>
            <div class="xp-card">
                <div class="xp-card-element title">Référent vaccin</div>
                <div class="xp-card-element company-logo"></div>
                <div class="xp-card-element company">Centre de vaccination de Compiègne	& ARC</div>
                <div class="xp-card-element start-date">juin 2021</div>
                <div class="xp-card-element end-date">oct. 2021</div>
                <div class="xp-card-element location">Compiègne, Oise</div>
            </div>
            <div class="xp-card">
                <div class="xp-card-element title">Trésorier</div>
                <div class="xp-card-element company-logo"></div>
                <div class="xp-card-element company">Association INFO CONTACT</div>
                <div class="xp-card-element start-date">nov 2018</div>
                <div class="xp-card-element end-date">sept 2021</div>
                <div class="xp-card-element location">Amiens, Somme</div>
            </div>
            <div class="xp-card">
                <div class="xp-card-element title">Opérateur Attractions</div>
                <div class="xp-card-element company-logo"></div>
                <div class="xp-card-element company">Parc Astérix</div>
                <div class="xp-card-element date">sept. 2020</div>
                <div class="xp-card-element location">Parc Astérix, Plailly, Oise</div>
            </div>
        </div>
    </div>
    <div class="formations">
        <h1>Mes formations</h1>
        <div class="flexy">
            <div class="xp-card">
                <div class="xp-card-element title">DUT Informatique</div>
                <div class="xp-card-element company-logo"></div>
                <div class="xp-card-element company">UPJV</div>
                <div class="xp-card-element start-date">sept. 2018</div>
                <div class="xp-card-element end-date">juil. 2022</div>
                <div class="xp-card-element location">Amiens, Somme</div>
            </div>
            <div class="xp-card">
                <div class="xp-card-element title">Diplôme d'équipier secouriste</div>
                <div class="xp-card-element company-logo"></div>
                <div class="xp-card-element company">FFSS</div>
                <div class="xp-card-element start-date">avril 2017</div>
                <div class="xp-card-element end-date">Aujourd'hui</div>
                <div class="xp-card-element location">Oise, Picardie</div>
            </div>
            <div class="xp-card">
                <div class="xp-card-element title">BAFA</div>
                <div class="xp-card-element company-logo"></div>
                <div class="xp-card-element company">IFAC & UFCV</div>
                <div class="xp-card-element start-date">2018</div>
                <div class="xp-card-element end-date">2019</div>
                <div class="xp-card-element location">Amiens, Somme</div>
            </div>
            <div class="xp-card">
                <div class="xp-card-element title">Médiateur de lutte Anti-Covid-19</div>
                <div class="xp-card-element company-logo"></div>
                <div class="xp-card-element company">FFSS</div>
                <div class="xp-card-element date">févr. 2021</div>
                <div class="xp-card-element location">Oise, Picardie</div>
            </div>
        </div>
    </div>
    <div class="loisirs">
        <h1>Mes loisirs</h1>
        <div class="flexy loisir">
            <div>Programmation</div>
            <div>Expérimentation sur Raspberry Pi</div>
            <div>Secourisme en association</div>
        </div>
    </div>
    <div class="competences">
        <h1>Mes compétences</h1>
        <p><div>Efficace dans plusieurs langages de programmation comme le python, le PHP, le Javascript, le C# ou encore le Java.</div>
        <div>Maitrise des logiciels des suites Microsoft Office et Libre Office</div></p>
    </div>
</div>
{% endblock %}